.kyc__Content {
  font-family: yekan;
  margin-top: -70px;
  padding-bottom: 250px;

  & p {
    align-self: center;
  }

  &--warningStatus {
    font-size: 16px;
    margin-right: 65px;

    & span {
      font-weight: 900;
    }
  }
}

.kyc_section {
  padding: 19px 25px 50px 35.5px;
  border: solid 0.5px #cbcdd9;
  background-color: #fff;
  margin: 0 auto 16px;


  & p.typography {
    margin-bottom: 20px;
    color: #59636e;

    & span {
      font-family: 'yekanb';
      margin-left: 2px;
    }
  }

  & ul {
    text-indent: -20px;
    position: relative;
    right: 21px;
  }

  & .label {
    align-self: center;
    color: #59636e;
    padding-right: 8px;

    &:after {
      content: '\002A';
      color: #1652f0;
    }
  }
}

.title {
  margin-bottom: 15px;
}

.landlineInfo {
  min-height: 473px;
  position: relative;

  &__landline--code input {
    background: #f3f5f7;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    text-align: center;
    direction: ltr;
    font-family: 'yekanb';
    font-size: 21px;

  }
}

.bankCardInfo {
  min-height: 276px;

  & input {
    padding: 15px;
    direction: ltr;

    &::placeholder {
      font-size: 20px;
      font-family: yekan;
    }
  }

}

.documentInfo {
  min-height: 903px;
  position: relative;

  .typography--upload {
    font-size: 20px;
    line-height: 2;
    color: #788ca6;
    margin-bottom: 25px;
  }

  &__selfieBox--title {
    & svg {
      position: absolute;
      bottom: -40px;
      left: 20px;
    }

    & svg:first-child {
      right: 20px;
    }
  }

}

.selfieBox__samplePicture--title {
  font-size: 20px;
  font-family: yekanb;

  span {
    font-size: 18px;
    font-family: yekan;

  }
}

.personalInfo {
  min-height: 378px;
  position: relative;

  & input:disabled {
    opacity: 1  ;
  }


  &__email--input {
    &::placeholder {
      text-align: left !important;
    }
  }

  &--info {
    margin-top: 27px;
  }

  &__datePicker {

    &--activeDate {
      background-color: #f5f5f9;
    }

    &--input {
      width: 100%;

      &::placeholder {
        padding: 40px;
      }
    }
  }

  & input {
    height: 57px !important;
    border-radius: 4px !important;
    border: solid 1px #e1e3ea !important;
    margin: 10px !important;
    text-align: left;
    color: #59636e;

    &::placeholder {
      font-size: 14px;
      text-align: right;
    }

    & :focus {
      border: solid 1px #d6dade;
    }
  }

  &__address-input {
    text-align: right !important;;
  }
}

.kyc__upload--avatar {
  & svg {
    position: absolute;
    bottom: -15px;
    transform: translateX(-50%);
  }

  & p {
    position: absolute;
    transform: translate(-10%, 50px);
  }
}

.ReactModal__Content {
  width: 1132px;
  height: auto;
  margin: 0 auto;
}

.ReactModalPortal {
  z-index: 9;
}

.ReactModal__Content {
  inset: 10px !important;
  border-radius: 8px;
  margin-top: 10%;
}


.rmdp-container {
  width: 100%;
}

.confirmPicture__image--logo {
  position: relative;
  margin-bottom: 32px;

  & svg {
    position: absolute;
    top: 30%;
    left: 85%;
  }
}


.confirmPicture__notes {
  text-indent: -20px;
  position: relative;
  right: 16px;

  & li {
    margin-top: 0 !important;;
  }

  & p {
    line-height: 2;
  }
}

@media (min-width: 991px) {
  .kyc__upload--avatar {
    & svg {
      position: absolute;
      transform: translateX(-15%);
    }

    & p {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      bottom: 200px;
      min-width: 150px;
      text-align: center;
    }

  }
}

@media (max-width: 768px) {
  .landlineInfo {
    padding: 22px 12px 23px;
  }
  .bankCardInfo {
    padding: 18px 14px 24px;

    & input::placeholder {
      font-size: 14px;
    }
  }
  .documentInfo {
    padding: 18px 17px 24px 20px;

    &__uplaodFile--placeholder {
      position: relative;
      top: -43px;
      padding: 0 20px;
    }
  }
  .personalInfo {
    padding: 17px 15px 42px 20px;

    & input {
      margin: 4px !important;
      height: 48px !important;
    }

    &--info {
      margin-top: 17px;
    }

  }

  .kyc_section {
    & .label {
      margin-top: 12px;
      padding-right: 0;
    }
  }
  .kyc__Content {
    top: 264px;

    &--warningStatus {
      margin-right: unset;
      margin-top: 20px;
      text-align: center;

    }
  }

  .chakra-modal__content-container {
    padding: 15px;
  }
  .ReactModal__Content {
    width: 315px;
    height: auto;
  }

  .title {
    margin-bottom: unset;
  }
  .selfieBox__samplePicture--title {
    font-size: 17px;

    span {
      font-size: 16px;
    }
  }
}
